In [ ]:
# load data:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
stocks_df = pd.read_html(url, header=0)[0]
stocks_df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [ ]:
# Number of companies (there are mor because there are dual class stock structure and are listed more than once)
len(stocks_df)

503

In [ ]:
stocks_df['GICS Sector'].value_counts()

Information Technology    75
Industrials               71
Financials                66
Health Care               64
Consumer Discretionary    56
Consumer Staples          33
Real Estate               31
Utilities                 30
Materials                 28
Communication Services    26
Energy                    23
Name: GICS Sector, dtype: int64

In [ ]:
stocks_df['GICS Sub-Industry'].value_counts()

Health Care Equipment    19
Semiconductors           14
Industrial Machinery     14
Multi-Utilities          13
Application Software     13
                         ..
Diversified Chemicals     1
Leisure Products          1
Consumer Electronics      1
Copper                    1
Household Appliances      1
Name: GICS Sub-Industry, Length: 122, dtype: int64

In [ ]:
# load output with close values of each company:
#df_2019_1er = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2019.xlsx', index_col=0)
#df_2019_2er = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_apr_jun_2019.xlsx', index_col=0)

#df_2019_4to = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_oct_dic_2019.xlsx', index_col=0)
df_2020_1er = pd.read_excel('/content/drive/MyDrive/DB103-DEMO/Project/trim_jan_mar_2020.xlsx', index_col=0)
#df_2021 = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2021.xlsx', index_col=0)

df_shares = pd.read_excel('/content/drive/MyDrive/DB103-DEMO/Project/Shares_Companies.xlsx', index_col=0)


#df_2019_1er.reset_index(inplace = True)
#df_2019_2er.reset_index(inplace = True)
df_2020_1er.reset_index(inplace = True)
#df_2019_4to.reset_index(inplace = True)
#df_2021.reset_index(inplace = True)
df_shares.reset_index(inplace = True)

In [ ]:
df_shares

           Shares Symbol
0    5.536140e+08    MMM
1    1.284770e+08    AOS
2    1.751220e+09    ABT
3    1.768100e+09   ABBV
4    4.546090e+07   ABMD
..            ...    ...
498  2.845420e+08    YUM
499  5.178990e+07   ZBRA
500  2.098200e+08    ZBH
501  1.504710e+08   ZION
502  4.681390e+08    ZTS

[503 rows x 2 columns]

In [ ]:
#df_2019_4to

In [ ]:
df_2020_1er = df_2020_1er[df_2020_1er['Attributes'] == 'Close']
df_2020_1er = df_2020_1er[['Symbols','Jan_2020']]
df_2020_1er['Jan_2020'] = round(df_2020_1er['Jan_2020'],2)
df_2020_1er = df_2020_1er.rename(columns={"Jan_2020": "Jan_2020"})

#df_2019_4to = df_2019_4to[df_2019_4to['Attributes'] == 'Close']
#df_2019_4to = df_2019_4to[['Symbols','Dic_2019']]
#df_2019_4to['Dic_2019'] = round(df_2019_4to['Dic_2019'],2)
#df_2019_4to = df_2019_4to.rename(columns={"Dic_2019": "Dic_2019"})

#df_2019_4to

In [ ]:
#df_2021 = df_2021[df_2021['Attributes'] == 'Close']
#df_2021 = df_2021[['Symbols','Jan_2021']]
#df_2021['Jan_2021'] = round(df_2021['Jan_2021'],2)
#df_2021 = df_2021.rename(columns={"Jan_2021": "Jan_2021"})

#df_2021

In [ ]:
#df_shares['Shares'].fillna(0)
#df_shares['Shares'].astype(int)
df_shares = df_shares.rename(columns={"Symbol": "Symbols"})
#df_shares[df_shares['Symbol'] == 'OTIS']
#df_shares.tail()

In [ ]:
#df_Avg_1 = df_2019_4to
#df_Avg_1['Jan_2020']=df_2020_1er[['Jan_2020']]
#df_Avg_1['Jan_2021'] = df_2021[['Jan_2021']]

#df_Avg_1 = df_Avg_1.merge(df_shares, left_on='Symbols', right_on='Symbols', how='left')

#df_Avg.merge(df_shares, on='Symbols', how='left')
#df_Avg_1.head()

In [ ]:
# delete nan from dataset, it has to be an average of 3 filled columns:
#df_companies_na = df_Avg_1[df_Avg_1['Dic_2019'].isna() | df_Avg_1['Jan_2020'].isna() | df_Avg_1['Jan_2021'].isna()]
#print('Companies that were removed from dataset: ' + str(df_companies_na['Symbols'].unique()))

In [ ]:
#df_Avg_1 = df_Avg_1.dropna()
#df_Avg_1['Shares'] = df_Avg_1['Shares'].astype(int)
#df_Avg_1.head()

In [ ]:
# adding the market cap:
#df_Avg_1["Marketcap_Dic_2019"] = df_Avg_1["Dic_2019"] * df_Avg_1["Shares"]
#df_Avg_1["Marketcap_Dic_2019"] = df_Avg_1["Marketcap_Dic_2019"].astype(int)

#df_Avg_1["Marketcap_Jan_2020"] = df_Avg_1["Jan_2020"] * df_Avg_1["Shares"]
#df_Avg_1["Marketcap_Jan_2020"] = df_Avg_1["Marketcap_Jan_2020"].astype(int)

#df_Avg_1["Marketcap_Jan_2021"] = df_Avg_1["Jan_2021"] * df_Avg_1["Shares"]
#df_Avg_1["Marketcap_Jan_2021"] = df_Avg_1["Marketcap_Jan_2021"].astype(int)

#df_Avg_1.head()

In [ ]:
# change en el market cap:
df_Avg_1["%Marketcap_Jan_2020_Dic_2019"] = (df_Avg_1["Marketcap_Jan_2020"] - df_Avg_1["Marketcap_Dic_2019"]) / df_Avg_1["Marketcap_Dic_2019"]*100
df_Avg_1["%Marketcap_Jan_2021_Jan_2020"] = (df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2020"]) / df_Avg_1["Marketcap_Jan_2020"]*100
df_Avg_1["%Marketcap_Jan_2021_Dic_2019"] = (df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Dic_2019"]) / df_Avg_1["Marketcap_Dic_2019"]*100

In [ ]:
# % change stock prices:
df_Avg_1["PercentageChange_Jan_2020_Dic_2019"] = (df_Avg_1["Jan_2020"] - df_Avg_1["Dic_2019"]) / df_Avg_1["Dic_2019"]*100
df_Avg_1["PercentageChange_Jan_2021_Jan_2020"] = (df_Avg_1["Jan_2021"] - df_Avg_1["Jan_2020"]) / df_Avg_1["Jan_2020"]*100
df_Avg_1["PercentageChange_Jan_2021_Dic_2019"] = (df_Avg_1["Jan_2021"] - df_Avg_1["Dic_2019"]) / df_Avg_1["Dic_2019"]*100
df_Avg_1

In [ ]:
# Change in total market cap:
sum(df_Avg_1['Marketcap_Jan_2020'] - df_Avg_1["Marketcap_Dic_2019"]) / 10**9

In [ ]:
sum(df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2020"]) / 10**9

In [ ]:
sum(df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Dic_2019"]) / 10**9

In [ ]:
stocks_df = stocks_df.merge(df_Avg_1, left_on='Symbol', right_on='Symbols', how='left', suffixes=('_x', ''))
stocks_df

In [ ]:
# Change in total market by sector:
(stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2020"] - stocks_df.groupby("GICS Sector").sum()["Marketcap_Dic_2019"]).sort_values() / 10**9

In [ ]:
(stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2021"] - stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2020"]).sort_values() / 10**9

In [ ]:
# Companies by percentage change stock:
stocks_df.sort_values(by=["PercentageChange_Jan_2020_Dic_2019"])[["Security", "PercentageChange_Jan_2020_Dic_2019"]].head(5)

In [ ]:
print(sum(stocks_df["PercentageChange_Jan_2020_Dic_2019"] < 0))
print(sum(stocks_df["PercentageChange_Jan_2020_Dic_2019"] > 0))

In [ ]:
# % change of stock by sector:
stocks_df.groupby("GICS Sector").mean()['PercentageChange_Jan_2020_Dic_2019'].sort_values()

In [ ]:
stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Dic_2019'].sort_values()

In [ ]:
print(sum(stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Dic_2019'] < 0))
print(sum(stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Dic_2019'] > 0))