In [1]:
# load data:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
stocks_df = pd.read_html(url, header=0)[0]
stocks_df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [3]:
# Number of companies (there are mor because there are dual class stock structure and are listed more than once)
len(stocks_df)

503

In [4]:
stocks_df['GICS Sector'].value_counts()

Information Technology    75
Industrials               71
Financials                67
Health Care               64
Consumer Discretionary    56
Consumer Staples          33
Real Estate               31
Utilities                 30
Materials                 28
Communication Services    25
Energy                    23
Name: GICS Sector, dtype: int64

In [5]:
stocks_df['GICS Sub-Industry'].value_counts()

Health Care Equipment    19
Semiconductors           14
Industrial Machinery     14
Electric Utilities       13
Multi-Utilities          13
                         ..
Copper                    1
Consumer Electronics      1
Leisure Products          1
Food Retail               1
Household Appliances      1
Name: GICS Sub-Industry, Length: 122, dtype: int64

In [24]:
# load output with close values of each company:
#df_2019_1er = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2019.xlsx', index_col=0)
#df_2019_2er = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_apr_jun_2019.xlsx', index_col=0)

df_2019_4to = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2019.xlsx', index_col=0)
df_2020_1er = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2020.xlsx', index_col=0)
df_2021 = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/trim_jan_mar_2021.xlsx', index_col=0)

df_shares = pd.read_excel('/content/drive/MyDrive/DAB103-DEMO/Project/Shares_Companies.xlsx', index_col=0)


#df_2019_1er.reset_index(inplace = True)
#df_2019_2er.reset_index(inplace = True)
df_2020_1er.reset_index(inplace = True)
df_2019_4to.reset_index(inplace = True)
df_2021.reset_index(inplace = True)
df_shares.reset_index(inplace = True)

In [25]:
df_2019_4to

     Attributes Symbols    Jan_2019    Feb_2019      Mar_2019   Avg_Jan_Mar
0         Close     MMM  192.740476  205.481581  2.062267e+02  2.014829e+02
1         Close     AOS   46.307143   51.109474  5.184095e+01  4.975252e+01
2         Close     ABT   69.829524   74.736842  7.867476e+01  7.441371e+01
3         Close    ABBV   85.717619   79.854210  7.966809e+01  8.174664e+01
4         Close    ABMD  329.152857  349.829473  3.197329e+02  3.329051e+02
...         ...     ...         ...         ...           ...           ...
1001     Volume     DOW         NaN         NaN  1.256100e+06  1.256100e+06
1002     Volume    FOXA         NaN         NaN  8.552943e+06  8.552943e+06
1003     Volume     FOX         NaN         NaN  2.918831e+06  2.918831e+06
1004     Volume     OGN         NaN         NaN           NaN           NaN
1005     Volume    OTIS         NaN         NaN           NaN           NaN

[1006 rows x 6 columns]

In [26]:
df_2020_1er = df_2020_1er[df_2020_1er['Attributes'] == 'Close']
df_2020_1er = df_2020_1er[['Symbols','Jan_2020']]
df_2020_1er['Jan_2020'] = round(df_2020_1er['Jan_2020'],2)
df_2020_1er = df_2020_1er.rename(columns={"Jan_2020": "Jan_2020"})

df_2019_4to = df_2019_4to[df_2019_4to['Attributes'] == 'Close']
df_2019_4to = df_2019_4to[['Symbols','Jan_2019']]
df_2019_4to['Jan_2019'] = round(df_2019_4to['Jan_2019'],2)
df_2019_4to = df_2019_4to.rename(columns={"Jan_2019": "Jan_2019"})

df_2019_4to

    Symbols  Jan_2019
0       MMM    192.74
1       AOS     46.31
2       ABT     69.83
3      ABBV     85.72
4      ABMD    329.15
..      ...       ...
498     DOW       NaN
499    FOXA       NaN
500     FOX       NaN
501     OGN       NaN
502    OTIS       NaN

[503 rows x 2 columns]

In [27]:
df_2021 = df_2021[df_2021['Attributes'] == 'Close']
df_2021 = df_2021[['Symbols','Jan_2021']]
df_2021['Jan_2021'] = round(df_2021['Jan_2021'],2)
df_2021 = df_2021.rename(columns={"Jan_2021": "Jan_2021"})

df_2021

    Symbols  Jan_2021
0       MMM    171.32
1       AOS     56.43
2       ABT    112.89
3      ABBV    108.45
4      ABMD    333.23
..      ...       ...
498   BRK.B       NaN
499    BF.B       NaN
500     CEG       NaN
501     OGN       NaN
502     TER       NaN

[503 rows x 2 columns]

In [28]:
#df_shares['Shares'].fillna(0)
#df_shares['Shares'].astype(int)
df_shares = df_shares.rename(columns={"Symbol": "Symbols"})
#df_shares[df_shares['Symbol'] == 'OTIS']
#df_shares.tail()

In [29]:
df_Avg_1 = df_2019_4to
df_Avg_1['Jan_2020'] = df_2020_1er[['Jan_2020']]
df_Avg_1['Jan_2021'] = df_2021[['Jan_2021']]

df_Avg_1 = df_Avg_1.merge(df_shares, left_on='Symbols', right_on='Symbols', how='left')

#df_Avg.merge(df_shares, on='Symbols', how='left')
df_Avg_1.head()

  Symbols  Jan_2019  Jan_2020  Jan_2021        Shares
0     MMM    192.74    176.16    171.32  5.536140e+08
1     AOS     46.31     46.40     56.43  1.284770e+08
2     ABT     69.83     87.90    112.89  1.751220e+09
3    ABBV     85.72     86.97    108.45  1.768100e+09
4    ABMD    329.15    180.96    333.23  4.546090e+07

In [31]:
# delete nan from dataset, it has to be an average of 3 filled columns:
df_companies_na = df_Avg_1[df_Avg_1['Jan_2019'].isna() | df_Avg_1['Jan_2020'].isna() | df_Avg_1['Jan_2021'].isna()]
print('Companies that were removed from dataset: ' + str(df_companies_na['Symbols'].unique()))

Companies that were removed from dataset: ['BRK.B' 'BF.B' 'CARR' 'CEG' 'CTVA' 'DOW' 'FOXA' 'FOX' 'OGN' 'OTIS']

In [32]:
df_Avg_1 = df_Avg_1.dropna()
df_Avg_1['Shares'] = df_Avg_1['Shares'].astype(int)
df_Avg_1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Symbols  Jan_2019  Jan_2020  Jan_2021      Shares
0     MMM    192.74    176.16    171.32   553614016
1     AOS     46.31     46.40     56.43   128477000
2     ABT     69.83     87.90    112.89  1751219968
3    ABBV     85.72     86.97    108.45  1768099968
4    ABMD    329.15    180.96    333.23    45460900

In [33]:
# adding the market cap:
df_Avg_1["Marketcap_Jan_2019"] = df_Avg_1["Jan_2019"] * df_Avg_1["Shares"]
df_Avg_1["Marketcap_Jan_2019"] = df_Avg_1["Marketcap_Jan_2019"].astype(int)

df_Avg_1["Marketcap_Jan_2020"] = df_Avg_1["Jan_2020"] * df_Avg_1["Shares"]
df_Avg_1["Marketcap_Jan_2020"] = df_Avg_1["Marketcap_Jan_2020"].astype(int)

df_Avg_1["Marketcap_Jan_2021"] = df_Avg_1["Jan_2021"] * df_Avg_1["Shares"]
df_Avg_1["Marketcap_Jan_2021"] = df_Avg_1["Marketcap_Jan_2021"].astype(int)

df_Avg_1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Symbols,Jan_2019,Jan_2020,Jan_2021,Shares,Marketcap_Jan_2019,Marketcap_Jan_2020,Marketcap_Jan_2021
0,MMM,192.74,176.16,171.32,553614016,106703565443,97524645058,94845153221
1,AOS,46.31,46.40,56.43,128477000,5949769870,5961332800,7249957110
2,ABT,69.83,87.90,112.89,1751219968,122287690365,153932235187,197695222187
3,ABBV,85.72,86.97,108.45,1768099968,151561529256,153771654216,191750441529
4,ABMD,329.15,180.96,333.23,45460900,14963455234,8226604464,15148935707

In [34]:
# change en el market cap:
df_Avg_1["%Marketcap_Jan_2020_Jan_2019"] = (df_Avg_1["Marketcap_Jan_2020"] - df_Avg_1["Marketcap_Jan_2019"]) / df_Avg_1["Marketcap_Jan_2019"]*100
df_Avg_1["%Marketcap_Jan_2021_Jan_2020"] = (df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2020"]) / df_Avg_1["Marketcap_Jan_2020"]*100
df_Avg_1["%Marketcap_Jan_2021_Jan_2019"] = (df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2019"]) / df_Avg_1["Marketcap_Jan_2019"]*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
# % change stock prices:
df_Avg_1["PercentageChange_Jan_2020_Jan_2019"] = (df_Avg_1["Jan_2020"] - df_Avg_1["Jan_2019"]) / df_Avg_1["Jan_2019"]*100
df_Avg_1["PercentageChange_Jan_2021_Jan_2020"] = (df_Avg_1["Jan_2021"] - df_Avg_1["Jan_2020"]) / df_Avg_1["Jan_2020"]*100
df_Avg_1["PercentageChange_Jan_2021_Jan_2019"] = (df_Avg_1["Jan_2021"] - df_Avg_1["Jan_2019"]) / df_Avg_1["Jan_2019"]*100
df_Avg_1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Symbols,Jan_2019,Jan_2020,Jan_2021,Shares,Marketcap_Jan_2019,Marketcap_Jan_2020,Marketcap_Jan_2021,%Marketcap_Jan_2020_Jan_2019,%Marketcap_Jan_2021_Jan_2020,%Marketcap_Jan_2021_Jan_2019,PercentageChange_Jan_2020_Jan_2019,PercentageChange_Jan_2021_Jan_2020,PercentageChange_Jan_2021_Jan_2019
0,MMM,192.74,176.16,171.32,553614016,106703565443,97524645058,94845153221,-8.602262,-2.747502,-11.113417,-8.602262,-2.747502,-11.113417
1,AOS,46.31,46.40,56.43,128477000,5949769870,5961332800,7249957110,0.194342,21.616379,21.852732,0.194342,21.616379,21.852732
2,ABT,69.83,87.90,112.89,1751219968,122287690365,153932235187,197695222187,25.877130,28.430034,61.664041,25.877130,28.430034,61.664041
3,ABBV,85.72,86.97,108.45,1768099968,151561529256,153771654216,191750441529,1.458236,24.698172,26.516566,1.458236,24.698172,26.516566
4,ABMD,329.15,180.96,333.23,45460900,14963455234,8226604464,15148935707,-45.022026,84.145668,1.239556,-45.022026,84.145668,1.239556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,YUM,91.66,333.68,205.39,284542016,26081121186,94945979898,58442084666,264.041021,-38.447015,124.078115,264.041021,-38.447015,124.078115
489,ZBRA,166.10,139.47,388.41,51789900,8602302390,7223137353,20115715059,-16.032511,178.489998,133.841060,-16.032511,178.489998,133.841060
490,ZBH,101.56,65.01,107.27,209820000,21309319200,13640398200,22507391400,-35.988578,65.005384,5.622292,-35.988578,65.005384,5.622292
491,ZION,45.52,81.40,64.90,150471008,6849440284,12248340051,9765568419,78.822496,-20.270270,42.574692,78.822496,-20.270270,42.574692
492,ZTS,84.65,103.60,102.78,468139008,39627967027,48499201228,48115327242,22.386297,-0.791506,21.417602,22.386297,-0.791506,21.417602

In [36]:
# Change in total market cap:
sum(df_Avg_1['Marketcap_Jan_2019'] - df_Avg_1["Marketcap_Jan_2019"]) / 10**9

0.0

In [37]:
sum(df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2020"]) / 10**9

7614.655690736

In [38]:
sum(df_Avg_1["Marketcap_Jan_2021"] - df_Avg_1["Marketcap_Jan_2019"]) / 10**9

24339.668523937

In [39]:
stocks_df = stocks_df.merge(df_Avg_1, left_on='Symbol', right_on='Symbols', how='left', suffixes=('_x', ''))
stocks_df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded,Symbols,...,Shares,Marketcap_Jan_2019,Marketcap_Jan_2020,Marketcap_Jan_2021,%Marketcap_Jan_2020_Jan_2019,%Marketcap_Jan_2021_Jan_2020,%Marketcap_Jan_2021_Jan_2019,PercentageChange_Jan_2020_Jan_2019,PercentageChange_Jan_2021_Jan_2020,PercentageChange_Jan_2021_Jan_2019
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,MMM,...,5.536140e+08,1.067036e+11,9.752465e+10,9.484515e+10,-8.602262,-2.747502,-11.113417,-8.602262,-2.747502,-11.113417
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,AOS,...,1.284770e+08,5.949770e+09,5.961333e+09,7.249957e+09,0.194342,21.616379,21.852732,0.194342,21.616379,21.852732
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,ABT,...,1.751220e+09,1.222877e+11,1.539322e+11,1.976952e+11,25.877130,28.430034,61.664041,25.877130,28.430034,61.664041
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),ABBV,...,1.768100e+09,1.515615e+11,1.537717e+11,1.917504e+11,1.458236,24.698172,26.516566,1.458236,24.698172,26.516566
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,ABMD,...,4.546090e+07,1.496346e+10,8.226604e+09,1.514894e+10,-45.022026,84.145668,1.239556,-45.022026,84.145668,1.239556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,YUM,...,2.845420e+08,2.608112e+10,9.494598e+10,5.844208e+10,264.041021,-38.447015,124.078115,264.041021,-38.447015,124.078115
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,ZBRA,...,5.178990e+07,8.602302e+09,7.223137e+09,2.011572e+10,-16.032511,178.489998,133.841060,-16.032511,178.489998,133.841060
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,ZBH,...,2.098200e+08,2.130932e+10,1.364040e+10,2.250739e+10,-35.988578,65.005384,5.622292,-35.988578,65.005384,5.622292
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,ZION,...,1.504710e+08,6.849440e+09,1.224834e+10,9.765568e+09,78.822496,-20.270270,42.574692,78.822496,-20.270270,42.574692
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,ZTS,...,4.681390e+08,3.962797e+10,4.849920e+10,4.811533e+10,22.386297,-0.791506,21.417602,22.386297,-0.791506,21.417602

In [40]:
# Change in total market by sector:
(stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2020"] - stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2019"]).sort_values() / 10**9

GICS Sector
Materials                  290.218350
Real Estate                304.942379
Utilities                  404.641339
Health Care                500.564828
Energy                     502.757197
Consumer Staples           803.554198
Financials                 864.516041
Communication Services    1124.361275
Industrials               1183.696651
Consumer Discretionary    2062.162681
Information Technology    8127.029660
dtype: float64

In [41]:
(stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2021"] - stocks_df.groupby("GICS Sector").sum()["Marketcap_Jan_2020"]).sort_values() / 10**9

GICS Sector
Information Technology   -1281.384155
Industrials               -584.246235
Materials                  260.071339
Consumer Discretionary     366.900548
Consumer Staples           477.053748
Real Estate                751.304258
Communication Services     817.051171
Health Care                941.146223
Financials                1755.262659
Energy                    2004.064498
Utilities                 2572.958745
dtype: float64

In [42]:
# Companies by percentage change stock:
stocks_df.sort_values(by=["PercentageChange_Jan_2020_Jan_2019"])[["Security", "PercentageChange_Jan_2020_Jan_2019"]].head(5)

                      Security  PercentageChange_Jan_2020_Jan_2019
179                    Equinix                          -97.798190
349                  NVR, Inc.                          -97.739146
247         Idexx Laboratories                          -92.730785
216           General Dynamics                          -92.482433
375  Pioneer Natural Resources                          -91.128118

In [43]:
print(sum(stocks_df["PercentageChange_Jan_2020_Jan_2019"] < 0))
print(sum(stocks_df["PercentageChange_Jan_2020_Jan_2019"] > 0))

174
316

In [44]:
# % change of stock by sector:
stocks_df.groupby("GICS Sector").mean()['PercentageChange_Jan_2020_Jan_2019'].sort_values()

GICS Sector
Health Care                30.147667
Utilities                  55.819514
Financials                 56.931999
Consumer Staples           61.102651
Real Estate                72.781249
Materials                  86.752576
Energy                    121.108713
Information Technology    142.610883
Consumer Discretionary    153.972512
Industrials               168.427321
Communication Services    203.257571
Name: PercentageChange_Jan_2020_Jan_2019, dtype: float64

In [45]:
stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Jan_2019'].sort_values()

GICS Sub-Industry
Construction Materials            -73.349868
Home Furnishings                  -54.649488
Agricultural & Farm Machinery     -49.933253
Hypermarkets & Super Centers      -49.820581
Air Freight & Logistics           -47.550281
                                    ...
Automobile Manufacturers         1342.606897
Publishing                       1509.819423
Trucking                         2144.601899
Commodity Chemicals                      NaN
Multi-Sector Holdings                    NaN
Name: PercentageChange_Jan_2020_Jan_2019, Length: 122, dtype: float64

In [46]:
stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2021_Jan_2020'].sort_values()

GICS Sub-Industry
Drug Retail                              -87.192118
Trading Companies & Distributors         -85.724397
Human Resource & Employment Services     -84.290633
Steel                                    -74.758518
Broadcasting                             -73.385726
                                           ...
Industrial REITs                         925.389755
Gold                                    1057.268239
Advertising                             1630.814804
Commodity Chemicals                             NaN
Multi-Sector Holdings                           NaN
Name: PercentageChange_Jan_2021_Jan_2020, Length: 122, dtype: float64

In [47]:
print(sum(stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Jan_2019'] < 0))
print(sum(stocks_df.groupby("GICS Sub-Industry").mean()['PercentageChange_Jan_2020_Jan_2019'] > 0))

23
97

In [48]:
stocks_df.sort_values(by=["PercentageChange_Jan_2020_Jan_2019"])[["Security", "PercentageChange_Jan_2020_Jan_2019"]].dropna().tail(5)

                Security  PercentageChange_Jan_2020_Jan_2019
173              Enphase                         2146.016260
355     ON Semiconductor                         2293.528761
337  News Corp (Class B)                         2623.713826
204   Ford Motor Company                         3487.323944
353         Old Dominion                         4371.190751

In [49]:
stocks_df.to_excel('/content/drive/MyDrive/DAB103-DEMO/Final_result.xlsx', sheet_name='Sheet', index=False)